@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#8876da;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #a15a5a;
	letter-spacing: 0.5px;
}
h2{
	color: #6b3838;
	letter-spacing: 0.5px;
	font-family: raleway;
}